body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#page {
  position: relative;
  min-height: 100vh;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding-bottom: 150px;
}

.secret {
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 15px 0px;
}

.column a{
  text-decoration: none;
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-container {
  padding: 2px 16px;
}

.column-small {
  float: left;
  width: 33.33%;
  padding-bottom: 20px;
}

.column-small a{
  text-decoration: none;
}

.column-small .card{
  background-color: rgb(54, 112, 167);
  color: white;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(54, 112, 167);
  text-align: center;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.footer-column {
  float: left;
  width: 15%;
  text-align: center;
  padding-top: 40px;
}

.footer-column a {
  text-decoration: none;
  color: white;
}

.footer-column-logo {
  float: left;
  width: 40%;
  text-align: center;
}

.footer-column-logo img{
  height: 100px;
}

img {
  width: 100%;
  height:100%;
  border-radius: 5px 5px 0px 0px;
}

.top-navigation {
  overflow: hidden;
  background-color: #333;
  height: 60px;
}

.top-navigation a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 20px 30px; 
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.top-navigation a:hover {
  background-color: white;
  color: black;
}

.top-navigation a.active {
  background-color: rgb(54, 112, 167);
  color: white;
}

.top-navigation-right {
  float: right;
}

.top-navigation-right a {
  padding: 10px 15px; 
}

.top-navigation-right img {
  max-height: 40px;
  max-width: 40px;
}

#comment-container {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #bbb;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
  width: 100%;
}

.slideshow-container {
  position: relative;
  width: 100%;
}

.slideshow-container-subtitle {
  position: absolute;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align:center;
}


.slideshow-subtitle {
  padding: 2px 16px;
}

.slideshow-subtitle a{
  text-decoration: none;
  color: white;
}

.slideshow-subtitle .card{
  background-color: rgb(54, 112, 167);
  width: 25%;
  margin-bottom: 16px;
  text-align: center;
}

/* Hide the images by default */
.slide {
  display: none;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 4px;
  background-color: #717171;
  border-color: #bbb;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:  #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}